body {
  background-color: #80CED7;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid #FDF5BF;
  border-width: 4px;
  background-color: #92D1C3;
  position: relative;
}

/* https://coolors.co/4c5b5c-ead2ac-997868-481d24-e072a4-91972a */
.part {
  background-color: #3FA7D6;
  width: 20px;
  height: 20px;
  position: absolute;
  /* left: 100px; */
  /* Uncomment if you want to set a "starting" position */
  /* top: 100px; */
  /* Uncomment if you want to set a "starting" position */
}

#id0 {
  background-color:  #FDF5BF;
}

.apple {
  background-color: #FFD5FF;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 200px;
  top: 200px;
}

p {
color: white;
font-family: rockwell;
font-size: 250;
}