body {
  background-color: darkgreen;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.part {
  background-color: rgb(11, 128, 0);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 100px;
  /* Uncomment if you want to set a "starting" position */
  top: 100px;
  /* Uncomment if you want to set a "starting" position */
}

.apple {
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 200px;
  top: 200px;
}

p {
  position: absolute;
  top: -15px;
  left: 6px;
}