body {
    background-color: #80CED7;
    font-family: rockwell;
    margin: auto;
    width: 50%;
}

#center {
    padding: 41px;
    height: 4900px;
    background: #FFD5FF;
    margin: auto;
    width: 80%;
    border-radius: 25px;
    position: relative;
    top: 5px;
}


#topBar {
    margin: auto;
    background-color: #FDF5BF;
    padding: 41px;
    padding-top: 8px;
    padding-bottom: 12px;
    width: 80%;
    border-radius: 25px;
    position: relative;
    top: -7px;
}

h3 {
    position: relative;
    top: -10px;
    font-size: 17px;
    color: #FDF5BF;
    background-color: #3FA7D6;
    width: 410px;
    padding: 15px;
    border-radius: 15px;
}

h2 {
    font-size: 20px;
    color: #3FA7D6;
}

h1 {
    font-size: 30px;
    color: #3FA7D6;
}

ul {
    color: #FDF5BF;
}

p {
    color: #FDF5BF;
}

#stats {
    background-color: #80CED7;
}

.bubble {
    position: relative top: -4px;
    background-color: #92D1C3;
    padding: 10px;
    padding-left: 30px;
    border-radius: 20px;
}

.barrier {
    padding: 10px;
}

#secret {
    position: relative;
    top: 1440px;
}
